/* color scheme for site 
#6C64B3 - purple - 
#FF7A24 orange- links
#B1A8FF - light blue
#7BCC72 - light green
#2CB31E - dark green - title*/
/****************************************GLOBAL SELECTORS *****************************************************/
#main {
  margin: 0 auto;
}

.nav-link {
  color: #6c64b3;
}

img {
  margin: 10px 5px 10px 0px;
}


.img-fluid {
  box-shadow: 7px 7px 2px 1px rgba(17, 17, 17, 0.2);
}

.text-white {
  padding: 10px;
}


.card {
  background: #7bcc72;
  padding-left: 50px;
}

.card-text {
  padding: 20px;
}

.card-title {
  padding-left: 20px;
}

.card-body {
  padding: 0px;
}

.btn-primary {
  background: #6c64b3;
}

.btn-primary:hover {
  background: #b1a8ff;
}

.footer {
  color: white;
}

/********************************************************************************************************/

/* ******************************    PAGE SPECIFIC SELECTORS    ******************************************/

/******************************************** index.html ********************************************/
.index {
  padding: 10px 10px 10px 20px;
  background-color: #B1A8FF;
}

.project {
  padding-left: 30px;
}

.home-page {
  padding: 10px 10px 10px 30px;
}
/********************************************************************************************************/
/******************************************** about.html ********************************************/
#photo {
  float: right;
  box-shadow: 5px 10px 8px 5px #afadad;
  margin: 10px 25px 10px 5px;
}



.about {
  padding: 10px 10px 10px 25px;
  }

  .call {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
  }

  .oasis {
    color: #ff7a24;
  }

  .ab {
    padding-left: 30px;
  }

  /*.about-me {
} */

/********************************************************************************************************/

/******************************************** services.html ********************************************/

.services {
  background: #3a3a3b;
  padding: 20px;
}


.service {
  padding-left: 30px;
}
.service-1,
.service-2,
.service-3 {
  color: #3a3a3b;
  padding-left: 0px;
}


.card-services {
  padding: 10px 10px 20px 20px;
  background-color: #B1A8FF;
}


/********************************************************************************************************/
/******************************************** faq.html ********************************************/
.mobile {
  display: none;
}
.faq {
  font-size: 38px;
}

.questions {
  margin-right: 20px;
}

.answers {
  color: #FF7A24;
  padding: 20px 10px 10px 20px;
}

tr {
  height: auto;
  
}


/********************************************************************************************************/
/******************************************** contact.html ********************************************/

input[type='text'],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type='submit'] {
  width: 100%;
  background-color: #4aaaa5;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: #b3a770;
}

/********************************************************************************************************/

/************************************** @MEDIA QUERIES ************************************************/

@media only screen and (max-width: 993px) {
  .container {
    width: 100%;
    text-align: center;
  }

  .row {
    width: 100%;
  }

  .about {
    margin-left: 10px;
  }

  .card {
    padding: 0px;
  }

  .card-body {
    padding: 0px;
  }

  .navbar-brand {
    font-size: 80%;
  }

  .ab {
    
    width: 500px;
  }

  #photo {
    display: none;
  }

  
}

  @media only screen and (max-width: 768px) {
	  
	  .mobile {
		  display: block;
	  }
     #photo {
      float: left;
      display: none;
    } 

    .faq {
      font-size: 20px;
    }

    .gen {
      font-size: 19px;
    }
    .card {
      padding: 0px;
    }

    .card-body {
      paddingleft: 15px;
    }

    .about {
      
      margin-left: -15px;
    }

    .home-page {
      margin-left: -25px;
    }

    .about-me {
      width: 200px;
    }
    
    .ab {
        text-align: left;
        width: 290px;
    }

    .ab-btn {
      width: 100px;
      margin-left: 90px;
    }

    .first {
      display: none;
    }

    td {
      font-size: small;
      border-bottom:  1px solid #3a3a3b;
    }

    .a {
      font-size: 10px;
      color: #FF7A24;
    }
  
}
